# Clean San Francisco Crime data 
- Jim Haskin

- GA-Data Science
- Dec 2015

- 2/17/2016

## Method
- I have collected the incident reports of the San Franciso Police Department from the SF OpenData website. https://data.sfgov.org/data?category=Public%20Safety. I have the records from January, 2003 until the beginning of 2016.
- I cleaned and reformated the fields.
- I summerized the report to generate a daily report of the number of incidents and another factor I am calling Crime Level. Each incident is given a score based on how violent it is. Murders and assaults are rated high. Traffic violations and non-criminal incidents are rated low. These scores are summed and then normalized to a scale of 0 - 10.
- Also added other crime measuring variables that can be used to narrow the reseach to different subsets of crime.
- 'gun_level', 'COP_count', 'violent_count' are examples. These are explained below.

# Sections

- [Data Source](#Data-Source)
- [Clean Data](#Clean-Data)
- [New Features for Raw Data](#New-Features-for-Raw-data)
- [Corrections for Raw data](#Corrections-for-Raw-data)
- [Create Crime Measuring Variables](#Create-Crime-Measuring-Variables)
- [Consolidate into daily records](#Consolidate-into-daily-records)
- [Normalize Levels](#Normalize-Levels)
- [Write final data to file](#Write-final-data-to-file)
- [qq](#qq)

## Data Source
[[back to top](#Sections)]

- Data downloaded from SF Open Data site. File includes incidents from 1/1/2003 until the present 
- SFPD_Incidents_-_from_1_January_2003.csv
- https://data.sfgov.org/data?category=Public%20Safety


FieldName|Type|Description                             
---------------|------------|---------------------
IncidntNum|string|Police assigned number
Category|string|General Crime category
Descript|string|Secondary category/details
DayOfWeek|string|Day of week event occured
Date|string|Date in format : 01/18/2016
Time|string|Time in format : 23:52
PdDistrict|string|Police District that event occured in
Resolution|int|How case was resolved
Address|string|Address of event
X|float|Longitude 
Y|float|Latitude
Location|string|Latitude,Longitude in character pair
PdId|int|Police Department ID number

In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
%matplotlib inline

In [2]:
! head -2 SFPD_Incidents_-_from_1_January_2003.csv

IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
160051264,WARRANTS,WARRANT ARREST,Monday,01/18/2016,23:52,CENTRAL,"ARREST, BOOKED",400 Block of POWELL ST,-122.408568445228,37.7887594214703,"(37.7887594214703, -122.408568445228)",16005126463010

In [3]:
! tail -2 SFPD_Incidents_-_from_1_January_2003.csv

031353484,OTHER OFFENSES,OBSCENE PHONE CALLS(S),Wednesday,01/01/2003,00:01,TARAVAL,NONE,1500 Block of 41ST AV,-122.5003001196,37.7578465298467,"(37.7578465298467, -122.5003001196)",3135348419050
030320997,SUSPICIOUS OCC,SUSPICIOUS OCCURRENCE,Wednesday,01/01/2003,00:01,SOUTHERN,NONE,0 Block of LAFAYETTE ST,-122.416608653757,37.7725681063387,"(37.7725681063387, -122.416608653757)",3032099764070

### Read in Crime data

In [4]:
sf_data = pd.read_csv('SFPD_Incidents_-_from_1_January_2003.csv', index_col=0)    # has header, commas, index
sf_data.head(2)

,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
IncidntNum,,,,,,,,,,,,
160051264,WARRANTS,WARRANT ARREST,Monday,01/18/2016,23:52,CENTRAL,"ARREST, BOOKED",400 Block of POWELL ST,-122.408568,37.788759,"(37.7887594214703, -122.408568445228)",16005126463010
160051242,ROBBERY,"ROBBERY, BODILY FORCE",Monday,01/18/2016,23:40,TENDERLOIN,NONE,100 Block of STOCKTON ST,-122.406428,37.787109,"(37.78710945429, -122.40642786236)",16005124203074

## Clean Data
[[back to top](#Sections)]

### Convert to lower case
- Feature names
- Feature values that I'm working with

In [5]:
sf_data.columns = sf_data.columns.str.lower()
sf_data['category'] = sf_data['category'].str.lower()
sf_data['descript'] = sf_data['descript'].str.lower()
sf_data['dayofweek'] = sf_data['dayofweek'].str.lower()
sf_data.head(2)

,category,descript,dayofweek,date,time,pddistrict,resolution,address,x,y,location,pdid
IncidntNum,,,,,,,,,,,,
160051264,warrants,warrant arrest,monday,01/18/2016,23:52,CENTRAL,"ARREST, BOOKED",400 Block of POWELL ST,-122.408568,37.788759,"(37.7887594214703, -122.408568445228)",16005126463010
160051242,robbery,"robbery, bodily force",monday,01/18/2016,23:40,TENDERLOIN,NONE,100 Block of STOCKTON ST,-122.406428,37.787109,"(37.78710945429, -122.40642786236)",16005124203074

### Investigate data

In [6]:
sf_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1866570 entries, 160051264 to 30320997
Data columns (total 12 columns):
category      object
descript      object
dayofweek     object
date          object
time          object
pddistrict    object
resolution    object
address       object
x             float64
y             float64
location      object
pdid          int64
dtypes: float64(2), int64(1), object(9)
memory usage: 185.1+ MB

### Observations
- 1,866,570 records 
- date and time in string format
- other fields look appropriate

### Convert date to Pandas datetime format

In [7]:
sf_data['date'] = pd.to_datetime(sf_data['date'])

## New Features for Raw data
[[back to top](#Sections)]

There is information in some of these features that I would like to use in future analysis. But I need to put them into a usable form
- hour - What time did the incident occure. Can be used if you want to split data into time frames.
- month, day, year - Seperate out from data to be used to look for trends.
- shift - feature derived from time that splits the day into 3 working shifts.

### Add the hour as numeric

In [8]:
sf_data['hour'] = sf_data['time'].str[0:2].astype(int)

### Add month, day and year features

In [9]:
#tdf['Date'].dtype
sf_data['month'] = sf_data['date'].dt.month
sf_data['day'] = sf_data['date'].dt.day
sf_data['year'] = sf_data['date'].dt.year
sf_data.head(2)

,category,descript,dayofweek,date,time,pddistrict,resolution,address,x,y,location,pdid,hour,month,day,year
IncidntNum,,,,,,,,,,,,,,,,
160051264,warrants,warrant arrest,monday,2016-01-18,23:52,CENTRAL,"ARREST, BOOKED",400 Block of POWELL ST,-122.408568,37.788759,"(37.7887594214703, -122.408568445228)",16005126463010,23,1,18,2016
160051242,robbery,"robbery, bodily force",monday,2016-01-18,23:40,TENDERLOIN,NONE,100 Block of STOCKTON ST,-122.406428,37.787109,"(37.78710945429, -122.40642786236)",16005124203074,23,1,18,2016

### Create shift feature
- For more detailed analysis or workforce planning, add feature that records the shift that event occured.
- 3rd shift - Midnight to 7:59am
- 1st shift - 8:00am - 3:59pm
- 2nd shift - 4:00pm - 11:59pm

NOTE: The below discussion of the approximate times in the incident reporting may make this unreliable

In [10]:
def calc_shift(hour):
    shift = hour//8
    if shift == 0:
        shift = 3
    return 'shift_' + str(shift)

In [11]:
sf_data['shift'] = sf_data['hour'].apply(calc_shift)
# or leave shift as hour//8. so that it sorts into time order, but label shift0 as third shift
#sf_data['shift'] = sf_data['hour'].apply(lambda x : x//8)

In [12]:
sf_data.head(2)

,category,descript,dayofweek,date,time,pddistrict,resolution,address,x,y,location,pdid,hour,month,day,year,shift
IncidntNum,,,,,,,,,,,,,,,,,
160051264,warrants,warrant arrest,monday,2016-01-18,23:52,CENTRAL,"ARREST, BOOKED",400 Block of POWELL ST,-122.408568,37.788759,"(37.7887594214703, -122.408568445228)",16005126463010,23,1,18,2016,shift_2
160051242,robbery,"robbery, bodily force",monday,2016-01-18,23:40,TENDERLOIN,NONE,100 Block of STOCKTON ST,-122.406428,37.787109,"(37.78710945429, -122.40642786236)",16005124203074,23,1,18,2016,shift_2

In [13]:
copy = sf_data.copy()

## Corrections for Raw data
[[back to top](#Sections)]

After analysing the data in the 5_analysis notebook several anomalys appeared. They caused me to remove some data as explained below.

### Investigate Day 1 anomaly
- While investigating the data I found a large spike in the number of incidents on the first day of the month.
- Investigate and reslove

In [14]:
sf_data['day'].value_counts().head()

1     72766
15    63578
20    62161
16    61410
17    61359
Name: day, dtype: int64

In [15]:
sf_data[sf_data['day']==15]['time'].value_counts().head()

12:00    2171
00:01    1863
18:00    1399
20:00    1199
15:00    1187
Name: time, dtype: int64

In [16]:
sf_data['time'].value_counts().head()

12:00    48318
00:01    47451
18:00    40872
17:00    35815
19:00    34903
Name: time, dtype: int64

In [17]:
sf_data[sf_data['time']=='00:01']['day'].value_counts().head()

1     6934
15    1863
20    1523
10    1510
13    1411
Name: day, dtype: int64

In [18]:
sf_data[(sf_data['day']==1) & (sf_data['time']=='00:01')]['time'].count()

6934

### observations
- 6934 records recorded on the the first of the month at 00:01.
- This is ~10% of the records for the 1st and 0.37% of total records.
- My hypotosis is that some incidents were reported later and when the exact date and time were not know, they were recorded this way.
- Since my model is based on the day of the incident, these records are not reliable. 
- If I remove them the counts are more in line with the other days of the month.
- Also appears that many of the times in the records may be approximate. (Many at 12:00). This will not effect the daily totals, but could be a problem if I try to divide the day into shifts.

### observations 2
- there are a total of 47,451 records from all days that have a time of 00:01 ~ 2.5% of data
- These records may be inaccurate also. Since I have 1.8M records it is better to get rid of questionable data

### results
- Remove the records that have a time of 00:01

In [19]:
# Remove day 1 time 00:01
#sf_data = sf_data.drop(sf_data[(sf_data['day']==1) & (sf_data['time']=='00:01')].index)
#sf_data[(sf_data['day']==1) & (sf_data['time']=='00:01')]['time'].count()

In [20]:
# Remove all time 00:01 records
sf_data = sf_data.drop(sf_data[(sf_data['time']=='00:01')].index)
sf_data[(sf_data['time']=='00:01')]['time'].count()

0

## Create Crime Measuring Variables
[[back to top](#Sections)]

Instead of only calculating the number of incidents per day I have created several other measurements that could be used for analysis and modeling. These can be used to help with workforce planning. These are very subjective and could use domain knowledge to help tune these measurements
- Create crime level feature that weights the incident by the severity/violence of the crime
- Create a weather crime level. I select categories that I feel may be weather related.
- Create a Crime Of Passion feature based on a list of violent/emotional words.
- Create a violent crime feature for the assault, rape and domestic violence categories
- Create a gun related feature

### Investigate the categories and their sub descriptions

In [66]:
sf_data['category'].value_counts()

larceny/theft                  370337
other offenses                 260051
non-criminal                   193041
assault                        160146
vehicle theft                  110911
drug/narcotic                  110273
vandalism                       92436
warrants                        88371
burglary                        76509
suspicious occ                  64123
missing person                  53887
robbery                         47879
fraud                           31146
secondary codes                 20767
forgery/counterfeiting          18487
weapon laws                     18159
trespass                        15445
prostitution                    15347
stolen property                  9815
drunkenness                      8894
disorderly conduct               8799
sex offenses, forcible           8471
recovered vehicle                6318
driving under the influence      4863
kidnapping                       4678
runaway                          3921
liquor laws                      3819
arson                            3204
loitering                        2326
embezzlement                     2016
suicide                          1108
family offenses                  1032
bad checks                        708
bribery                           646
extortion                         556
gambling                          290
sex offenses, non forcible        273
pornography/obscene mat            45
trea                               10
Name: category, dtype: int64

In [67]:
sf_data[sf_data['category']=='larceny/theft']['descript'].value_counts()

grand theft from locked auto                               128810
petty theft from locked auto                                41730
petty theft of property                                     34211
grand theft of property                                     22969
petty theft from a building                                 20915
petty theft shoplifting                                     20351
grand theft from a building                                 19204
grand theft from person                                     14679
grand theft pickpocket                                      11681
grand theft from unlocked auto                               9864
petty theft with prior                                       8184
petty theft from unlocked auto                               5481
grand theft bicycle                                          5278
attempted theft from locked vehicle                          4598
grand theft shoplifting                                      4551
petty theft bicycle                                          3331
lost property, petty theft                                   2760
grand theft pursesnatch                                      1481
theft of computers or cell phones                            1423
lost property, grand theft                                   1323
grand theft auto strip                                       1250
petty theft auto strip                                       1113
theft from merchant or library                                843
theft of checks or credit cards                               521
attempted shoplifting                                         469
attempted theft from a building                               427
attempted petty theft of property                             317
license plate or tab, theft of                                262
attempted theft from unlocked vehicle                         257
embezzlement from dependent or elder adult by caretaker       196
                                                            ...
theft of animals (general)                                    141
attempted auto strip                                          122
theft, grand, of firearm                                       95
grand theft by prostitute                                      95
theft of utility services                                      86
grand theft motorcycle strip                                   85
theft, bicycle, <$50, no serial number                         76
attempted grand theft pursesnatch                              76
grand theft coin operated machine                              74
attempted grand theft pickpocket                               74
petty theft motorcycle strip                                   52
attempted theft coin operated machine                          46
theft, bicycle, <$50, serial number known                      43
petty theft phone booth                                        41
theft, drunk roll, $200-$400                                   31
theft of telecommunication services, incl. clone phone         24
theft, grand, by fiduciary, >$400 in 12 months                 21
theft, drunk roll, $50-$200                                    21
theft, drunk roll, <$50                                        19
theft, drunk roll, >$400                                       19
theft, boat                                                    18
grand theft phone booth                                        14
trade secrets, theft or unauthorized copying                   12
theft of written instrument                                    10
attempted motorcycle strip                                      8
theft, drunk roll, att.                                         3
theft, grand, agricultural                                      3
attempted theft phone booth                                     3
looting during state of emergency                               2
theft, animal, att.                                             2
Name: descript, dtype: int64

In [68]:
sf_data[sf_data['category']=='other offenses']['descript'].value_counts()

drivers license, suspended or revoked                                        56650
traffic violation                                                            33942
resisting arrest                                                             18441
miscellaneous investigation                                                  17161
probation violation                                                          16239
lost/stolen license plate                                                    13427
violation of restraining order                                               11822
traffic violation arrest                                                     11403
parole violation                                                             10141
conspiracy                                                                    6426
obscene phone calls(s)                                                        4797
violation of municipal code                                                   4760
possession of burglary tools                                                  4514
false personation to receive money or property                                4167
harassing phone calls                                                         4024
violation of municipal police code                                            3842
miscellaneous state misdemeanor                                               3606
false personation                                                             2806
false evidence of vehicle registration                                        2513
fraudulent game or trick, obtaining money or property                         1881
permit violation, police (general)                                            1754
obstructions on streets/sidewalks                                             1496
tampering with a vehicle                                                      1385
failure to register as sex offender                                           1323
peddling without a license                                                    1287
stay away order violation, dv related                                         1204
indecent exposure                                                             1180
danger of leading immoral life                                                 932
violation of park code                                                         908
reckless driving                                                               895
                                                                             ...
dog or cat, abandonment of                                                       5
injury to railroads/railroad bridges                                             5
hazardous materials, dump oil into sewers                                        4
hazardous materials,  dump any substance into water                              4
hazardous materials, spill load                                                  4
illegal charitable solicitations                                                 4
insured property, destruction to defraud insurer                                 4
hazardous materials, spill on roadway                                            3
push-cart peddler permit violation                                               3
dog, fighting;  owning, fighting, or attending fight                             3
permit violation, second-hand dealer                                             3
permit violation, valet parking                                                  3
encounter studio ordinance violation                                             2
soliciting minor to commit felony                                                2
chop shop, own or operate                                                        2
school bus, entry to commit crime or refusal to leave                            2
escape from hospital with force                                                  2
loudspeaker or sound truck permit violation                                      2
wearing the apparel of opposite sex to deceive                                   2
food stamps, unlawful use by retailer                                            2
school student or employee entering  campus after suspension or dismissal        2
hazardous materials, failure to comply w/regulations                             2
school grounds, entry by sex offender                                            2
police broadcast, interception to commit crime                                   2
hazardous materials, store without permit                                        1
unsolicited fax advertising                                                      1
money laundering                                                                 1
permit violation, advertising handbill distribution                              1
refusal to identify                                                              1
violation of calif unemployment insurance act                                    1
Name: descript, dtype: int64

In [69]:
sf_data[sf_data['category']=='non-criminal']['descript'].value_counts()

lost property                                         64152
aided case, mental disturbed                          45951
found property                                        25989
aided case                                            11505
death report, cause unknown                            8769
case closure                                           4735
stay away or court order, non-dv related               3395
aided case, dog bite                                   2900
civil sidewalks, citation                              2665
property for identification                            2508
aided case, injured person                             2196
civil sidewalks, warning                               2016
death report, natural causes                           1997
aided case -property for destruction                   1840
courtesy report                                        1761
fire report                                            1677
located property                                       1536
tarasoff report                                        1387
search warrant service                                 1227
turned in gun                                          1032
traffic accident                                        897
shelter                                                 729
impounded vehicle                                       642
aided case, sick person                                 526
license plate, recovered                                253
license plate, found                                    228
misplaced vehicle                                       121
civil sidewalks, booking                                 97
civil sidewalks, violation                               61
truant, habitual                                         60
death, accidental                                        36
death, non-manslaughter auto accident                    29
demonstration, video evidence, misc. investigation       25
accidental shooting                                      23
youth court                                              22
auto impounded                                           18
megan's law notification                                 17
death report, in custody                                 12
accidental burns                                          7
Name: descript, dtype: int64

In [70]:
sf_data[sf_data['category']=='assault']['descript'].value_counts()

battery                                                        57142
threats against life                                           29896
inflict injury on cohabitee                                    14842
aggravated assault with a deadly weapon                        13584
aggravated assault with bodily force                           10382
battery, former spouse or dating relationship                   5990
aggravated assault with a knife                                 5134
battery of a police officer                                     2802
child abuse (physical)                                          2652
aggravated assault with a gun                                   2127
threatening phone call(s)                                       1729
battery with serious injuries                                   1697
stalking                                                        1619
elder adult or dependent abuse (not embezzlement or theft)      1286
assault                                                         1092
assault with caustic chemicals                                   887
false imprisonment                                               805
attempted simple assault                                         710
attempted homicide with a gun                                    618
shooting into inhabited dwelling or occupied vehicle             540
assault on a police officer with a deadly weapon                 489
assault, aggravated, w/ gun                                      459
threat or force to resist executive officer                      449
attempted homicide with a knife                                  359
aggravated assault of police officer,bodily force                340
threats to school teachers                                       305
child, inflicting injury resulting in traumatic condition        283
willful cruelty to child                                         237
discharging in grossly negligent manner                          220
unlawful dissuading/threatening of a witness                     182
                                                               ...
attempted homicide with bodily force                             100
firearm, discharging at occupied bldg, vehicle, or aircraft       95
mayhem with bodily force                                          83
mayhem with a deadly weapon                                       73
attempted mayhem with a deadly weapon                             48
aggravated assault on police officer with a knife                 42
mayhem with a knife                                               36
attempted mayhem with a knife                                     33
battery during labor dispute                                      31
attempted mayhem with bodily force                                22
assault, aggravated, on police officer, w/ gun                    19
civil rights, incl. injury, threat, or damage (hate crimes)       16
aggravated assault on police officer with a gun                   14
trespass within 30 days of credible threat                        14
assault by poisoning                                              14
threat to state official or judge                                 12
assault by police officer                                         10
terrorizing by arson or explosive device                           7
mayhem with a gun                                                  5
assault, aggravated, w/ semi auto                                  5
lasers, discharging or lights at aircraft                          5
terrorizing by marking private property                            4
assault, aggravated, w/ machine gun                                3
attempted mayhem with a gun                                        3
attempted homicide with explosives                                 2
assault or attempted murder upon gov't officers                    2
aggravated assault of police officer, sniping                      2
assault, aggravated, on police officer, w/ semi auto               1
assault, aggravated, on police officer, w/ full auto               1
attempted homicide by sniping                                      1
Name: descript, dtype: int64

In [71]:
sf_data[sf_data['category']=='drug/narcotic']['descript'].value_counts()

possession of narcotics paraphernalia                20567
possession of base/rock cocaine                      14089
possession of marijuana                              11220
sale of base/rock cocaine                             8774
possession of meth-amphetamine                        7578
possession of base/rock cocaine for sale              7358
possession of marijuana for sales                     5643
possession of controlled substance                    4261
possession of heroin                                  4113
possession of cocaine                                 2986
sale of marijuana                                     2889
possession of meth-amphetamine for sale               2376
possession of controlled substance for sale           2201
possession of heroin for sales                        1813
sale of controlled substance                          1564
possession of cocaine for sales                       1305
sale of heroin                                        1206
controlled substance violation, loitering for         1078
maintaining premise where narcotics are sold/used      839
transportation of marijuana                            681
sale of cocaine                                        624
loitering where narcotics are sold/used                587
under influence of drugs in a public place             582
planting/cultivating marijuana                         572
possession of amphetamine for sales                    559
transportation of cocaine                              533
under the influence of controlled substances           418
transportation of meth-amphetamine                     412
sale of meth-amphetamine                               317
possession of amphetamine                              293
                                                     ...
money offense related to narcotics trafficking          56
sale of hallucinogenic                                  51
sales cocaine base/schoolyard trafficking act vio       44
sale of opiates                                         37
failure to register as narcotics addict                 33
sale of methadone                                       23
prescription, forge or alter (4390 b&p)                 22
encouraging minor to use marijuana                      22
possession of opium derivative for sales                15
transportation of hallucinogenic                        12
transportation of opiates                               11
possession of opium for sales                           11
encouraging minor to use cocaine                        10
transportation of methadone                             10
encourage minor to use barbituates                       8
possession of barbituates                                8
transportation of amphetamine                            7
encourage minor to use controlled substance              5
possession of barbituates for sales                      5
sale of opium derivative                                 5
drug lab apparatus, possession                           4
sale of barbituates                                      4
sale of opium                                            3
planting/cultivating peyote                              1
transportation of opium                                  1
encourage minor to use amphetamine                       1
encourage minor to use meth-amphetamine                  1
encourage minor to use heroin                            1
encourage minor to use hallucinogenic                    1
encourage minor to use opiates                           1
Name: descript, dtype: int64

In [72]:
sf_data[sf_data['category']=='vandalism']['descript'].value_counts()

malicious mischief, vandalism of vehicles                   37002
malicious mischief, vandalism                               33041
malicious mischief, breaking windows                        10272
malicious mischief, graffiti                                 7485
malicious mischief                                            942
malicious mischief, tire slashing                             664
malicious mischief, street cars/buses                         587
vandalism or graffiti tools, possession                       548
malicious mischief, breaking windows with bb gun              524
malicious mischief, adult suspect                             517
malicious mischief, juvenile suspect                          160
graffiti on government vehicles or public transportation      124
vandalism or graffiti on or within 100 ft of highway          116
malicious mischief, fictitious phone calls                    111
malicious mischief, building under construction                85
damage to fire alarm apparatus                                 70
aerosol container; sale, purchase or possession of             45
damage to mail box                                             45
electrical  or gas lines, interfering with                     30
damage/destruction of mail                                     26
damage to parking meters                                       16
vandalism with noxious chemical                                16
destroying jail property-$200 or under                          6
destroying jail property-over $200                              2
balloons, electrically conductive                               2
Name: descript, dtype: int64

In [73]:
sf_data[sf_data['category']=='robbery']['descript'].value_counts()

robbery on the street, strongarm                     13804
robbery, bodily force                                 9453
robbery on the street with a gun                      4260
attempted robbery on the street with bodily force     2345
robbery, armed with a gun                             2318
attempted robbery with bodily force                   1611
robbery on the street with a knife                    1529
robbery on the street with a dangerous weapon         1364
robbery, armed with a knife                           1118
robbery of a commercial establishment, strongarm       872
robbery, armed with a dangerous weapon                 849
robbery of a chain store with bodily force             717
robbery of a commercial establishment with a gun       693
attempted robbery on the street with a gun             678
carjacking with a gun                                  497
robbery of a residence with bodily force               478
attempted robbery on the street w/deadly weapon        371
attempted robbery with a gun                           356
attempted robbery on the street with a knife           345
carjacking with bodily force                           328
robbery of a residence with a gun                      321
attempted robbery with a knife                         249
robbery of a chain store with a gun                    228
robbery of a bank with bodily force                    226
attempted robbery with a deadly weapon                 212
robbery of a bank with a gun                           204
robbery of a service station with a gun                190
robbery of a bank with a dangerous weapon              175
robbery of a commercial establishment w/ a knife       173
robbery of a chain store with a dangerous weapon       164
                                                     ...
carjacking with a knife                                 51
carjacking with a dangerous weapon                      50
attempted robbery chain store with a gun                47
attempted robbery of a bank with a deadly weapon        36
attempted robbery comm. establishment w/knife           33
attempted robbery chain store with deadly weapon        31
attempted robbery of a bank with a gun                  29
robbery,  atm, other weapon                             29
robbery,  atm, gun                                      22
robbery of a service station w/dangerous weapon         20
attempted robbery residence with a deadly weapon        20
attempted robbery residence with a knife                18
robbery,  atm, knife                                    14
robbery of a service station with a knife               14
attempted robbery chain store with a knife              12
robbery of a bank with a knife                          12
attempted robbery service station with a gun            12
attempted robbery service station w/bodily force         9
attempted robbery of a bank with a knife                 7
attempted robbery service station w/deadly weapon        7
robbery, vehicle for hire, att., w/ force                6
attempted robbery service station with a knife           6
robbery,  atm, knife, att.                               6
robbery, vehicle for hire, att., w/ other weapon         4
robbery, vehicle for hire, att., w/ gun                  3
robbery,  atm, gun, att.                                 2
assault to rob with bodily force                         1
robbery, vehicle for hire, att., w/ knife                1
assault to rob bank with a gun                           1
assault to rob on the street w/deadly weapon             1
Name: descript, dtype: int64

In [74]:
sf_data[sf_data['category']=='secondary codes']['descript'].value_counts()

domestic violence                         15262
juvenile involved                          1864
gang activity                              1624
prejudice-based incident                   1362
atm related crime                           559
battery by juvenile suspect                  52
weapons possession by juvenile suspect       25
assault by juvenile suspect                  17
shooting by juvenile suspect                  2
Name: descript, dtype: int64

In [75]:
sf_data[sf_data['category']=='weapon laws']['descript'].value_counts()

poss of loaded firearm                                     4075
carrying a concealed weapon                                2006
exhibiting deadly weapon in a threating manner             2002
poss of firearm by convicted felon/addict/alien            1524
poss of prohibited weapon                                  1387
discharge firearm at an inhabited dwelling                 1157
possession of air gun                                       866
loitering while carrying concealed weapon                   733
discharge firearm within city limits                        623
poss of deadly weapon with intent to assault                528
firearm, loaded, in vehicle, possession or use              498
carrying of concealed weapon by convicted felon             344
ammunition, poss. by prohibited person                      323
weapon, possess or bring other on school grounds            230
switchblade knife, possession                               188
firearm, armed while possessing controlled substance        164
located explosive device                                    162
weapon, deadly, carrying with intent to commit assault      150
weapon, assault, possession, manufacture, or sale           142
poss of tear gas weapon                                     128
firearm with altered identification                         126
firearm, carrying loaded with intent to commit felony        88
suspicious package                                           77
tampering with marks on firearm                              75
weapon, deadly, exhibiting to resist arrest                  68
possession of explosive device                               57
flammable or explosive device, possession                    57
possession of caustic chemical                               49
firearm, negligent discharge                                 43
firearm possession in school zone                            38
poss of fire bomb                                            38
destruction of property with explosives                      38
weapon, possessing in public building or open meeting        32
violation of restrictions on a firearm transfer              30
possession of machine gun                                    27
commission of felony while armed                             25
weapon, taking or attempting to take from peace officer      19
firearm, possession of while wearing mask                    10
weapon, assault, registration or transfer violation           9
poss of firearm silencer                                      6
illegal transportaion of explosives                           6
destructive device, possession of materials                   5
armor penetrating ammunition, possession                      2
weapon, deadly, possession of to violate 136.1 pc             2
sniper scope, possession of                                   1
bombing of police building                                    1
Name: descript, dtype: int64

In [76]:
sf_data[sf_data['category']=='prostitution']['descript'].value_counts()

solicits for act of prostitution                   6769
solicits to visit house of prostitution            5062
loitering for purpose of prostitution              2419
engaging in lewd conduct - prostitution related     298
human trafficking                                   229
pimping                                             181
pandering                                           135
indecent exposure - prostitution related             89
solicits lewd act                                    82
inmate/keeper of house of prostitution               64
placing wife in house of prostitution                12
disorderly house, keeping                             3
procurement, pimping, & pandering                     2
purchase female for the purpose of prostitution       2
Name: descript, dtype: int64

In [77]:
sf_data[sf_data['category']=='sex offenses, forcible']['descript'].value_counts()

sexual battery                                       3025
forcible rape, bodily force                          1366
child abuse sexual                                    623
assault to rape with bodily force                     582
oral copulation                                       307
attempted rape, bodily force                          276
annoy or molest children                              269
child abuse, pornography                              261
oral copulation, unlawful (adult victim)              243
sodomy (adult victim)                                 230
penetration, forced, with object                      210
sodomy                                                187
sexual assault, aggravated, of child                  141
engaging in lewd act                                  131
sexual assault, administering drug to commit          124
child abuse, exploitation                             119
forcible rape, armed with a sharp instrument          115
forcible rape, armed with a dangerous weapon           73
assault to commit mayhem or specific sex offenses      44
forcible rape, armed with a gun                        37
assault to rape with a dangerous weapon                30
rape, spousal                                          19
assault to rape with a sharp instrument                17
attempted rape, armed with a sharp instrument          16
assault to rape with a gun                             10
attempted rape, armed with a dangerous weapon           8
attempted rape with a gun                               8
Name: descript, dtype: int64

In [78]:
sf_data[sf_data['category']=='drunkenness']['descript'].value_counts()

under influence of alcohol in a public place    8894
Name: descript, dtype: int64

In [79]:
sf_data[sf_data['category']=='disorderly conduct']['descript'].value_counts()

committing public nuisance                              2710
disturbing the peace                                    1935
maintaining a public nuisance after notification        1623
disturbing the peace, fighting                          1019
maintaining a public nuisance                            816
disturbing the peace, commotion                          355
disturbing the peace, swearing                           331
disturbing religious meetings                              9
disturbance of non-religious, non-political assembly       1
Name: descript, dtype: int64

In [80]:
sf_data[sf_data['category']=='family offenses']['descript'].value_counts()

desertion of child                                        252
children, abandonment & neglect of (general)              222
minor without proper parental care                        212
abandonment of child                                      197
failure to provide for child                               81
immoral acts or drunk in presence of child                 37
concealment/removal of child without consent               27
failure to provide for parents                              3
harassing child or ward because of person's employment      1
Name: descript, dtype: int64

### Assign a Crime level and if Weather related to each catagory
- First number is the crime level in the range 1-4 : Higher number is more violent
- Second number (0/1) indicates if I believe the crime would be effected by the weather

In [81]:
levels = {'larceny/theft' : [2,0],                
          'other offenses' : [1,0],                 
          'non-criminal' : [1,0],
          'assault' :  [4,1],                        
          'vehicle theft' : [2,0],                 
          'drug/narcotic' : [2,0],                 
          'vandalism' : [2,1],                       
          'warrants' : [1,0],                        
          'burglary' : [2,0],                        
          'suspicious occ' : [2,0],                 
          'missing person' : [1,0],                 
          'robbery' : [2,1],                         
          'fraud' : [2,0],                          
          'forgery/counterfeiting' : [2,0],         
          'secondary codes' :  [4,1],              
          'weapon laws' :  [3,1],                    
          'trespass' :  [2,0],                       
          'prostitution' :  [2,0],                  
          'stolen property' :  [2,0],                 
          'sex offenses, forcible' : [4,1],          
          'drunkenness' :  [2,1],                     
          'disorderly conduct'  : [3,1],              
          'recovered vehicle' :  [1,0],              
          'driving under the influence' :  [1,0],      
          'kidnapping' :  [3,0],                      
          'runaway' :  [1,0],                          
          'liquor laws' : [1,0],                     
          'arson' : [3,1],                           
          'embezzlement' : [1,0],                    
          'loitering' : [1,0],                      
          'suicide' :  [1,1],                         
          'family offenses' : [3,1],                  
          'bad checks' : [1,0],                 
          'bribery' : [1,0],                          
          'extortion' : [2,0],                        
          'sex offenses, non forcible' : [2,1],       
          'gambling' : [1,0],                          
          'pornography/obscene mat' : [2,0],          
          'trea' : [1,0]}

### Create new crime variables 'crime_level' and 'weather_crime' from the above mapping

In [82]:
sf_data['crime_level'] = sf_data['category'].map(lambda x : levels[x][0])
sf_data['weather_crime'] = sf_data['category'].map(lambda x : levels[x][1])

### Create new crime variable 'cop' (Crime Of Passion) based on incidents containing the following list of words
- Words were selected from reviewing the incident descriptions looking for words that are more violent or could be triggered by emotions

In [83]:
cop_words = ['assault', 'battery', 'drunk', 'abuse', 'forced', 'rape', 'shooting',
           'violence', 'harassing', 'threat', 'threatening', 'threats', 'resist', 'resisting',
           'destruction', 'weapons', 'gun', 'knife', 'armed', 'deadly', 'drunkenness',
           'bomb', 'bombing', 'influence', 'looting', 'disorderly', 'force', 'forcible',
           'fighting', 'injuries', 'nuisance', 'homicide', 'alcohol', 'rape', 'mayhem',
           'abuse', 'cruelty', 'lewd', 'molest', 'disturbing']

In [84]:
sf_data['COP'] = sf_data['descript'].apply(lambda x: any(word in x for word in cop_words) )
sf_data['COP'].value_counts()

False    1529569
True      289538
Name: COP, dtype: int64

### Create new crime variable 'violant' for incidents in the categories assault, rape, domestic violence

In [85]:
violent_cats = ['assault', 'sex offenses, forcible', 'secondary codes']
sf_data['violent'] = sf_data['category'].apply(lambda x: x in violent_cats)
sf_data['violent'].value_counts()

False    1629723
True      189384
Name: violent, dtype: int64

### Create new crime variable southern_assaults
Just the assault incidents from the Southern Police District

In [86]:
sf_data[sf_data['category']== 'assault'].groupby(['pddistrict'])[['pdid']].count().sort_values('pdid', ascending=False)

             pdid
pddistrict
SOUTHERN    25263
MISSION     23184
BAYVIEW     20324
INGLESIDE   18189
NORTHERN    17303
TENDERLOIN  16135
CENTRAL     14636
TARAVAL     11268
PARK         7247
RICHMOND     6597

In [62]:
#sf_data['southern_assaults'] = sf_data[['category','pddistrict']].apply(lambda x, y: (x=='assault') & (y=='SOUTHERN'), axis=1)

#df[['one','two']].apply(sum, axis=1)

#sf_data['southern_assaults'] = np.any((sf_data['category']=='assault') , (sf_data['pddistrict']=='SOUTHERN'))
#sf_data['southern_assaults'].value_counts()

### Create new crime variable 'gun' for incidents where a Gun was used
- Just wanted to know
- May be useful for other analysis

In [88]:
sf_data['gun'] = sf_data['descript'].apply(lambda x: x.find('gun') != -1 )
sf_data['gun'].value_counts()

False    1803322
True       15785
Name: gun, dtype: int64

In [89]:
sf_data.head(2)

,category,descript,dayofweek,date,time,pddistrict,resolution,address,x,y,...,hour,month,day,year,shift,gun,crime_level,weather_crime,COP,violent
IncidntNum,,,,,,,,,,,,,,,,,,,,,
160051264,warrants,warrant arrest,monday,2016-01-18,23:52,CENTRAL,"ARREST, BOOKED",400 Block of POWELL ST,-122.408568,37.788759,...,23,1,18,2016,shift_2,False,1,0,False,False
160051242,robbery,"robbery, bodily force",monday,2016-01-18,23:40,TENDERLOIN,NONE,100 Block of STOCKTON ST,-122.406428,37.787109,...,23,1,18,2016,shift_2,False,2,1,True,False

## Consolidate into daily records
[[back to top](#Sections)]

Group the incidents by day and count the Number of incidents and the sum of the crime_level

### Group by the day
- Aggregate by the sum and count for my measuring variables
- To group by day and shift, uncomment code marked #SHIFT

In [90]:
day_group = sf_data.groupby(['date'])[['crime_level','weather_crime', 'violent', 'COP', 'gun']].agg(['sum', 'count'])


#SHIFT day_group = sf_data.groupby(['date','shift'])[['crime_level']].agg(['sum', 'count'])
day_group.head()

           crime_level       weather_crime       violent        COP       gun  \
                   sum count           sum count     sum count  sum count sum
date
2003-01-01        1078   541           143   541      91   541  134   541   5
2003-01-02         731   399            72   399      39   399   53   399   1
2003-01-03         802   435            84   435      42   435   65   435   0
2003-01-04         678   347            65   347      44   347   59   347   3
2003-01-05         749   371           101   371      49   371   72   371   2


           count
date
2003-01-01   541
2003-01-02   399
2003-01-03   435
2003-01-04   347
2003-01-05   371

In [91]:
# unstack to bring shift from rows to columns
#SHIFT day_group = day_group.unstack(level=-1)
#SHIFT day_group.head()

In [92]:
day_group.columns.values

array([('crime_level', 'sum'), ('crime_level', 'count'),
       ('weather_crime', 'sum'), ('weather_crime', 'count'),
       ('violent', 'sum'), ('violent', 'count'), ('COP', 'sum'),
       ('COP', 'count'), ('gun', 'sum'), ('gun', 'count')], dtype=object)

In [93]:
# Reduce column levels
day_group.columns = ['_'.join(col).strip() for col in day_group.columns.values]
day_group.head(2)

,crime_level_sum,crime_level_count,weather_crime_sum,weather_crime_count,violent_sum,violent_count,COP_sum,COP_count,gun_sum,gun_count
date,,,,,,,,,,
2003-01-01,1078,541,143,541,91,541,134,541,5,541
2003-01-02,731,399,72,399,39,399,53,399,1,399

In [94]:
# drop the weather_crime_count and other count fields - they are just the count of all records
day_group.drop(['weather_crime_count', 'COP_count', 'gun_count', 'violent_count'], axis=1, inplace=True)

In [95]:
# Rename columns to avoid confusion
cols = ['crime_level_sum', 'crime_count', 'weather_crime_count', 'violent_count', 'COP_count', 'gun_crime_count']
day_group.columns = cols
day_group.head(2)

,crime_level_sum,crime_count,weather_crime_count,violent_count,COP_count,gun_crime_count
date,,,,,,
2003-01-01,1078,541,143,91,134,5
2003-01-02,731,399,72,39,53,1

In [96]:
# Sum up the 3 shift info into day totals
#SHIFT day_group['crime_level_sum_day'] = day_group['crime_level_sum_shift_1'] + 
#                                   day_group['crime_level_sum_shift_2'] + 
#                                   day_group['crime_level_sum_shift_3']
#day_group['crime_level_count_day'] = day_group['crime_level_count_shift_1'] + 
#                                     day_group['crime_level_count_shift_2'] + 
#                                     day_group['crime_level_count_shift_3']        
#day_group.head(2)

## Add in the other fields that are not crime rate
Features that are needed for further analysis
- day, month, year and dayofweek

In [97]:
day_group_static = sf_data.groupby(['date'])[['dayofweek','day', 'month', 'year']].min()
day_group_static.head()

            dayofweek  day  month  year
date
2003-01-01  wednesday    1      1  2003
2003-01-02   thursday    2      1  2003
2003-01-03     friday    3      1  2003
2003-01-04   saturday    4      1  2003
2003-01-05     sunday    5      1  2003

### Merge the two data Frames

In [98]:
data = pd.concat([day_group, day_group_static], axis=1, join_axes=[day_group.index])
data.head()

,crime_level_sum,crime_count,weather_crime_count,violent_count,COP_count,gun_crime_count,dayofweek,day,month,year
date,,,,,,,,,,
2003-01-01,1078,541,143,91,134,5,wednesday,1,1,2003
2003-01-02,731,399,72,39,53,1,thursday,2,1,2003
2003-01-03,802,435,84,42,65,0,friday,3,1,2003
2003-01-04,678,347,65,44,59,3,saturday,4,1,2003
2003-01-05,749,371,101,49,72,2,sunday,5,1,2003

### Review Data

In [99]:
data.describe()

,crime_level_sum,crime_count,weather_crime_count,violent_count,COP_count,gun_crime_count,day,month,year
count,4765.000000,4765.000000,4765.000000,4765.000000,4765.000000,4765.000000,4765.000000,4765.000000,4765.000000
mean,720.142497,381.764323,77.894648,39.744806,60.763484,3.312697,15.706611,6.502413,2009.025813
std,88.978788,46.919233,13.966653,9.290960,11.326118,2.129817,8.798708,3.459470,3.759785
min,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2003.000000
25%,662.000000,351.000000,68.000000,34.000000,53.000000,2.000000,8.000000,4.000000,2006.000000
50%,718.000000,381.000000,77.000000,39.000000,60.000000,3.000000,16.000000,7.000000,2009.000000
75%,775.000000,412.000000,86.000000,45.000000,68.000000,5.000000,23.000000,10.000000,2012.000000
max,1182.000000,579.000000,158.000000,91.000000,134.000000,16.000000,31.000000,12.000000,2016.000000

#### minimum of 2 crimes looks bad

In [100]:
data.sort_values('crime_count', ascending=True).head(10)

,crime_level_sum,crime_count,weather_crime_count,violent_count,COP_count,gun_crime_count,dayofweek,day,month,year
date,,,,,,,,,,
2007-12-16,2,2,0,0,0,0,sunday,16,12,2007
2008-08-01,8,6,0,0,0,0,friday,1,8,2008
2013-12-25,306,148,39,20,27,2,wednesday,25,12,2013
2011-12-25,310,159,43,21,25,1,sunday,25,12,2011
2013-12-24,292,162,18,6,18,0,tuesday,24,12,2013
2010-12-25,346,171,46,32,32,0,saturday,25,12,2010
2013-12-23,378,184,46,25,47,1,monday,23,12,2013
2008-12-25,396,193,58,31,43,4,thursday,25,12,2008
2007-12-25,394,209,50,26,41,4,tuesday,25,12,2007
2011-11-24,379,212,44,22,39,2,thursday,24,11,2011

#### Remove the two days that appear to be missing data
- there were 2 days that only had 2 and 8 incidents. 
- remove them since there must be missing data from those 2 days.

In [101]:
data = data[data['crime_count'] > 100]
data.shape

(4763, 10)

In [102]:
data.describe()

,crime_level_sum,crime_count,weather_crime_count,violent_count,COP_count,gun_crime_count,day,month,year
count,4763.000000,4763.000000,4763.000000,4763.000000,4763.000000,4763.000000,4763.000000,4763.000000,4763.000000
mean,720.442788,381.922948,77.927357,39.761495,60.788999,3.314088,15.709637,6.500945,2009.026454
std,87.781889,46.285817,13.878038,9.257131,11.259817,2.129182,8.797973,3.459211,3.760430
min,292.000000,148.000000,18.000000,6.000000,18.000000,0.000000,1.000000,1.000000,2003.000000
25%,662.000000,351.500000,68.000000,34.000000,53.000000,2.000000,8.000000,3.500000,2006.000000
50%,718.000000,381.000000,77.000000,39.000000,60.000000,3.000000,16.000000,7.000000,2009.000000
75%,775.500000,412.000000,86.000000,45.000000,68.000000,5.000000,23.000000,10.000000,2012.000000
max,1182.000000,579.000000,158.000000,91.000000,134.000000,16.000000,31.000000,12.000000,2016.000000

## Write final data to file
[[back to top](#Sections)]

In [103]:
data.to_csv('sf_crime_clean.csv')